<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div class="header"></div>
<div class="main">

            <div class="head">
                <img src="img/foto.jpg " id="myfoto">
                <h1>Chernysh Andrey</h1>
                <h3>Word Web designer, programmer </h3>
                <h4 id="phone">Phone: +380500577341 </h4>
                <h4 id="email">email: <a href="mailto:chernysh904@gmail.com" id="mail">chernysh904@gmail.com</a> </h4>
                <div class="block-social">
                    <a href="https://www.facebook.com/profile.php?id=100009468298523" target="_blank"><img class="social-ico" src="img/fb.png"></a>
                    <a href="https://plus.google.com/112145107906543849667" target="_blank"><img class="social-ico" src="img/google.png"></a>
                    <a href="https://twitter.com/Ununnuktus?lang=ru" target="_blank"><img class="social-ico" src="img/twitter.png"></a>
                    <a href="skype:Dronx341" target="_blank"><img class="social-ico" src="img/skype.png"></a>

                </div>


            </div>
            <div class="block-profile">
                <div class="title">Profile </div>
                <div class="text"> I am a Full-stack Web Developer with over 10 year of professional experience
                                    in junior position with top organizations, mentored web developer and designder.</div>
            </div>
            <div class="block-skills">
                <div class="title">Skills </div>
                <div class="skils">
                <p class="pBold">Web Design </p>
                <div>Website Design sitemammping wireframing information
                Archtecture. User interface Design.</div>
                </div>
                <div class="skils">
                    <p class="pBold">Web Developer </p>
                    <div>Semantic & Valid Hard Coded Markup. CSS Master. IE6 Conqueror & jQuery Guru.</div>
                </div>
                <div class="skils">
                    <p class="pBold">Project Direction </p>
                    <div>Proven ability to lead and manager a wide variety of design and development
                            projects in team and independent situations. </div>
                </div>
            </div>
            <div class="block-tech">
                <div class="title">Technical </div>
                <table>
                    <tr>
                        <td>
                            XHTML
                        </td>
                        <td>
                            HTML5
                        </td>
                        <td>
                            Jquery
                        </td>

                    </tr>
                         <td>
                            CSS3
                        </td>
                        <td>
                            PHP
                        </td>
                        <td>
                            Windows XP/Seven/10
                        </td>

                    </tr>

                        <td>
                            Javascript
                        </td>
                        <td>
                            Git
                        </td>
                        <td>
                            Linux
                        </td>
                    </tr>
                </table>
            </div>
            <div class="block-experience">
                <div class="title">Experience</div>
                <div class="exp-list">
                    <p class="pBold">Facejournal</p>
                    <div class="text-exp">Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives.
                                    Conveniently initiate virtual paradigms and top-line convergence.</div>
                </div>
                <br>
                 <div class="exp-list">
                    <p class="pBold">The Coffee house</p>
                    <div class="text-exp">Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas.
                                        Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </div>
                </div>
            </div>
            <div class="block-edu">
                <div class="title"> Education</div>
                <ul id="edlist">
                    <li>
                        College ENU
                    </li>
                    <li>
                        East Ukrainian National University
                    </li>
                </ul>
            </div>
            <div class="footer">
            Copyright &copy; 2017 Chernysh Andrew


            </div>
        </div>

</body>
</html>